{XXX% extends "WHSmartAdminBundle::popup.html.twig" %XXX}

{XXX% form_theme form 'bootstrap_3_layout.html.twig' %XXX}

{XXX% block title %XXX} Créer {XXX% endblock %XXX}

{XXX% block body %XXX}

    {XXX{ form_start(form, {'action': path('{{ Routes.create }}'), 'method': 'POST'}) }XXX}

    <div class="padded">

        {XXX% include('{{ bundleName }}:Backend:{{ entityName }}/form.html.twig') %XXX}

    </div>

    <div class="modal-footer">

        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
            Annuler
        </button>

        <button type="submit" class="btn btn-primary" name="submited" value="">
            Créer
        </button>

    </div>

    {XXX{ form_end(form) }XXX}


    <script>

        var form = $(".modal form");

        $(form).submit(function() {

            $.ajax({
                type    : $(this).attr('method'),
                url     : $(this).attr('action'),
                data    : $(this).serialize(), // serializes the form's elements.
                success: function(data)
                {

                    popupSuccess(data);

                }
            });

            return false; // avoid to execute the actual submit of the form.
        });


    </script>

{XXX% endblock %XXX}
